
/* Reset %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

* { margin:0; padding:0; }
html { font-size:16px; /* Fix for Opera */ }
#pie00-root-wrapper {}

img           {border:0;vertical-align:top;max-width:100%;}

a             { color:#888; text-decoration:none; }
a:hover       { text-decoration:none; color:#333; }
:focus        { outline:0; }

/* Headings */
h1,h2,h3,
h4,h5,h6      { margin:0 0 10px; font-weight:normal; }
h1            { font-size:1.5rem;	line-height:1.25em;		/*32px, 40px*/		margin-bottom:20px; }
h2            { font-size:2em;		line-height:1.25em;		/*24px, 30px*/ }
h3            { font-size:1.6666em;	line-height:1.2em;		/*20px, 24px*/ }
h4            { font-size:1.3333em;	line-height:1.25em;		/*16px, 20px*/ }
h5            { font-size:1.1666em;	line-height:1.1428em;	/*14px, 16px*/ }
h6            { font-size:1em;		line-height:1.1666em;	/*12px, 14px*/ }

/* Lists */
ul,ol         { list-style:none; }


/* Layout %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

.wrapper {}


.pie00-main-container { background-repeat:repeat; background-position:center top; }
.main { padding:0px 0; min-height:370px; }

/* Base Columns */
.col-left { float:left; }
.col-main { float:left; }
.col-right { float:right; }

/* 1 Column Layout */
.col1-layout .col-main { width:100%; }

/* 2 Columns Layout */
.col2-left-layout .col-main { float:right; }
.col2-right-layout .col-main {}

/* 3 Columns Layout */
.col3-layout .col-main {}
.col3-layout .col-wrapper { float:left; }
.col3-layout .col-wrapper .col-main { float:right; }

/* Content Columns */
.col2-set .col-1 { float:left; width:49%; }
.col2-set .col-2 { float:right; width:49%; }
.col2-set .col-narrow { width:33%; }
.col2-set .col-wide { width:65%; }

.col3-set .col-1 { float:left; width:32%; }
.col3-set .col-2 { float:left; width:32%; margin-left:2%; }
.col3-set .col-3 { float:right; width:32%; }

.col4-set .col-1 { float:left; width:23.5%; }
.col4-set .col-2 { float:left; width:23.5%; margin:0 2%; }
.col4-set .col-3 { float:left; width:23.5%; }
.col4-set .col-4 { float:right; width:23.5%; }

/**/

#pie00-one_garanties {
    margin-top: 2rem;
    padding-bottom: 2rem;
}
#pie00one_garanties h6 {
    text-transform: uppercase;
    color: gray;
    margin-bottom: 0px;
    text-align: center;
    font-size: 0.7rem;
}
#pie00-one_garanties h1 {
    font-size: 1rem;
    color: black;
    font-weight: 500;
    font-family: 'Lato';
    margin-bottom: 0.3rem;
    text-align: center;
}

.pie00-gar_fot #pie00-one_garanties {
	margin-top: 0rem;
	/*padding-bottom: 0rem;*/
}

.pie00-gar_fot {
	margin-top: 3rem;
	margin-bottom: 3rem;
}
.pie00-pan_fot {
	background-color: #f6f6f6;
	padding-top: 3rem;
	padding-bottom: 3rem;
	/* margin-bottom: 3rem; */
	text-align: left;
}
.pie00-brand_panelec img {
	margin: 0 auto;
	display: block;
	padding-bottom: 2rem;
}
.pie00-lnk_fot {
	padding-top: 3rem;
	padding-bottom: 3rem;
	background-color: #eeeeee;
	/* margin-top: 3rem; */
	font-size: 0.9rem !important;
	line-height: 1.3;
	/* color: black; */
	text-align: left;
}
.pie00-lnk_foot h1 {
	font-size: 1rem;
	text-transform: uppercase;
	color: black;
	font-weight: 600;
	font-family: 'Lato';
}

/***********************************************/

.pie00-garant_home_ecm {
    margin-left: 1rem;
    margin-right: 1rem;
    display: inline-block;
}

.pie00-garant_home_ecm h1{
    font-size:17px;
}

.pie00-brand_panelec p {
	font-size: 1rem;
	font-family: 'lato';
	line-height: 1.3rem;
	color: black;
}
.pie00-lnk_fot p {
	/* font-size: 1rem; */
	line-height: 1.3rem;
	/* color: black; */
}

/* MEDIA QUERIES */

/* SCREEN > 960px at 1280px */
@media only screen and (min-width: 960px) and (max-width: 1280px) {
	.pie00-bloqfot_one h1{
	font-size: 0.8rem !important;
	}

	.pie00-bloqfot_one p,ul,li,a {
	font-size: 0.66rem;
	}
	
	.pie00-gar_fot {
		display: none;
	}	
}

@media only screen and (min-width: 768px) and (max-width: 960px) {

	.pie00-bloqfot_one h1{
	font-size: 0.8rem !important;
	}

	.pie00-bloqfot_one p,ul,li,a {
	font-size: 0.6rem;
	}


	.pie00-bloqfot_one h1{
	font-size: 0.8rem !important;
	}

	.pie00-bloqfot_one p,ul,li,a {
	font-size: 0.66rem;
	}
	
	.pie00-gar_fot {
		display: none;
	}
	
	.pie00-lnk_fot {
    	text-align: center;
	}
	.pie00-bloqfot_one {
		margin-bottom: 2rem;
	}

	.pie00-gar_fot {
	    margin-bottom: 2rem;
	}
	
}

@media only screen and (min-width: 480px) and (max-width: 768px) {

	.pie00-bloqfot_one h1{
	font-size: 0.8rem !important;
	}

	.pie00-bloqfot_one p,ul,li,a {
	font-size: 0.6rem;
	}
	
	.pie00-brand_panelec p {
    	padding: 1rem;
	}
	.pie00-gar_fot {
		display: none;
		margin-bottom: 10rem !important;
	}
	
}
@media only screen and (min-width: 320px) and (max-width: 768px) {

	
	.pie00-brand_panelec p {
    	padding: 1rem;
	}
	.pie00-gar_fot {
		display: none;
		margin-bottom: 38rem;
    		margin-top: 0rem;
	}
	
	.brands_fot {
    	display: none;
	}
	
		
	.pie00-lnk_fot {
    	text-align: center;
	}
	.pie00-bloqfot_one,.bloqfot_two,.bloqfot_three,.bloqfot_four {
		margin-bottom: 2rem;
	}

}